{% extends 'revisacion_medica/padre.html' %}
{% load static %}
{% block revisaciones %}

<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">REVISACIONES</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div>
            

            {% if revisaciones %}
            <p>Revisacion encontrada! </p>
            <ul>
                {% for revisacion in revisaciones %}
                <li>{{ revisacion.datos_socio }}</li>
                <li>{{ revisacion.fecha_revisacion }}</li>
                <li>{{ revisacion.fecha_vencimiento }}</li>
                <li>{{ revisacion.apto }}</li>

                {%endfor%}
            </ul>
            {% else %}
            <p>No se encontraron resultados para esta búsqueda.</p>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}

{% if revisaciones %}
<ul>
    {% for revisacion in revisaciones %}
    <li>{{ revisacion.datos_socio }}</li>
    <li>{{ revisacion.fecha_revisacion }}</li>
    <li>{{ revisacion.fecha_vencimiento }}</li>
    <li>{{ revisacion.apto }}</li>
    {% endfor %}
</ul>
{% else %}
<p>No se encontraron resultados para esta búsqueda.</p>
{% endif %}