{% extends 'revisacion_medica/padre.html' %}
{% load static %}
{% block revisaciones %}

            <section class="page-section" id="contact">
                <div class="container">
                    <!-- Contact Section Heading-->
                    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">REVISACIONES</h2>
                    <!-- Icon Divider-->
                    <div class="divider-custom">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-line"></div>
                    </div>
                    <!-- Contact Section Form-->
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xl-7">
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                                <!-- Name input-->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="name" type="text" placeholder="Ingrese Nombre..." data-sb-validations="required" />
                                    <label for="name">Nombre</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">Se requiere un nombre</div>
                                </div>
                                <!-- Surname address input-->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="Apellido" type="text" placeholder="Ingrese apellido..." data-sb-validations="required,email" />
                                    <label for="Apellido">Apellido</label>
                                    <div class="invalid-feedback" data-sb-feedback="surname:required">Se requiere un apellido.</div>
                                    <div class="invalid-feedback" data-sb-feedback="surname:surname">Apellido no valido.</div>
                                </div>
                                <!-- Phone number input-->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="Matricula" type="number" placeholder="120755" data-sb-validations="required" />
                                    <label for="matricula">Numero de matricula</label>
                                    <div class="invalid-feedback" data-sb-feedback="matricula:required">Se requiere una matricula.</div>
                                </div>
                                

                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        To activate this form, sign up at
                                        <br />
                                        <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                <!-- Submit Button-->
                                <button class="btn btn-primary btn-xl " id="submitButton" type="submit">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}