{% extends 'revisacion_medica/padre.html' %}
{% load static %}
{% block revisaciones %}

            <section class="page-section" id="contact">
                <div class="container">
                    
                    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">REVISACIONES</h2>

                    <div class="divider-custom">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-line"></div>
                    </div>
                    <div class="text-center mt-4">
                        <div class="text-center mt-4">
                            <div class="text-center mt-4"><p class="lead">Buscar una revisacion</p></div>
                            
                        </div>
                        <form action="/revisacion_medica/buscar/" method = 'GET'>

                            <table>
                                
                                <input type = 'text' name = 'datos_socio' >

                                <input type = 'submit' value = 'Buscar'>   
                            
                            </table>
                    
                
                
                        </form>
                    </div>
                    
                </div>
            </section>
{% endblock %}